body{
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: #fbfcf8;
    font-style: normal;
}
#header{
    height: 50px;
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 42px;
    font-weight: 100;
}
#home{
    padding-left:8px;
}
#header>span{
    width: 100%;
    display: flex;
    justify-content: center;
}
#header a{
    color: white;
}
#intro{
    color:black;
    width: 840px;
    height: 300px;
    display: flex;
    padding-top: 8px;
    margin: auto;
}
#text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    padding: 8px;
    line-height: 16px;
}
#resume{
    border: 1px solid black;
    display: block;
}
#showResume{
    display: none;
}
#linkedin{
    height: 30px;
    padding-top: 0px;
}
.imgLink:hover{
    cursor: pointer;
}

#projects{
    display: flex;
    max-width: 1200px;
    height: 100%;
    padding: 8px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
#projects>div{
    width:300px;
    height: 300px;
    background-color:tomato;
    margin: 12px;
}

@media (max-width: 800px) {
    #intro{
        width: 100%;
        display: block;
        height: fit-content;
    }
    #text{
        line-height: 9px;
        width: 100%;
        box-sizing: border-box;
        padding: 4px;
    }
    #resume{
        width: 100%;
        border: none;
        display: none;
    }
    #showResume{
        display: block;
    }
  }